.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media(max-width:500px){
    .Burger {
        margin-top: 10rem;
        width: 250px;
        height: 300px;
    }
}

@media (min-width:500px) and (min-height:400px) {
    .Burger {
        width: 300px;
        height: 300px;
    }
}


@media (min-width:500px) and (min-height:401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width:900px) and (min-height:700px) {
    .Burger {
        width: 700px;
        height: 600px;
    }
}