.Logo {
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.Logo img {
    height: 100%;
}